.nav {
    background-color: black;
    overflow: hidden;
  }
  
  .nav a {
    border: white;
    float: left;
    color: white;
    text-align: center;
    font-size: 24px;
    padding : .5%;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  