.nav {
    background-color: black;
    overflow: hidden;
  }
  
  .nav a {
    border: white;
    float: left;
    color: white;
    text: center;
    font-size: 24px;
    padding : 10px;
    border-radius: 25%;
  }
  
  .nav a:hover {
    background-color: white;
    color: black;
  }
  